@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8WAc5tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9iB85tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Sans Black'), local('NunitoSans-Black'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8-BM5tU1Q.ttf) format('truetype');
}
body {
  margin: 0;
}
.row {
  display: flex;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 10px;
}
.column img {
  vertical-align: middle;
  width: 100%;
  margin: 20px;
  cursor: pointer;
}
.portfolio__container {
  position: relative;
  vertical-align: middle;
  width: 90%;
  cursor: pointer;
}
.portfolio__image {
  display: block;
  width: 100%;
  filter: grayscale(90%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}
.portfolio__image:hover {
  filter: none;
  transform: scale(0.98);
}
.text {
  display: none;
}
p {
  margin: 0;
}
.content {
  display: block;
}
.homepage {
  background: linear-gradient(to right bottom, #ca7659, #f3f5f8);
  color: #f3f5f8;
  height: 100vh;
  width: 100%;
}
.homepage__container {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 30px solid #f3f5f8;
  margin: auto;
  transform: translateY(20%);
  width: 60%;
  padding: 50px;
}
.homepage__text {
  font-size: 45px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}
.homepage__name {
  color: #1c303b;
}
.homepage__button {
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: transparent;
  border: 3px solid #1c303b;
  padding: 15px;
  margin-top: 50px;
  cursor: pointer;
  width: 220px;
  transition: all 0.3s;
  color: #1c303b;
  backface-visibility: hidden;
  font-weight: 700;
}
.homepage__button .svg {
  height: 0;
  width: 0;
  transition: all 0.3s;
  color: #f3f5f8;
}
.homepage__button:hover {
  width: 260px;
  color: #f3f5f8;
  border-color: #f3f5f8;
}
.homepage__button:hover .svg {
  height: 20px;
  width: 30px;
  margin-left: 10px;
  fill: #f3f5f8;
}
.header {
  font-family: 'Nunito Sans', sans-serif;
}
.header__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: #1c303b;
  text-transform: uppercase;
}
.header__primary {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}
.header__secondary {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 0;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  color: #1c303b;
  text-transform: uppercase;
}
.nav__section--2 {
  display: flex;
}
.nav__section--2 .nav__link {
  margin: 0 10px;
  font-weight: 600;
  letter-spacing: 2px;
}
.resume {
  font-family: 'Nunito Sans', sans-serif;
  padding: 50px;
  background-color: #efd6cd;
  color: #1c303b;
}
.resume__title {
  text-transform: uppercase;
  color: #ca7659;
}
.resume__span {
  display: flex;
  align-items: center;
}
.resume__span p,
.resume__span a {
  margin: 5px;
}
.resume__span .project-description {
  font-style: italic;
}
.resume__span .project-title {
  font-size: 18px;
  font-weight: 700;
}
.resume__position {
  font-size: 18px;
  font-weight: 700;
}
.resume__location {
  font-style: italic;
}
.resume__institute {
  font-size: 18px;
  font-weight: 700;
}
.portfolio {
  background: linear-gradient(to right bottom, #ca7659, #f3f5f8);
}
.about-me {
  background-color: #efd6cd;
  padding: 50px;
  color: #1c303b;
}
.about-me__image {
  max-width: 400px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 2px;
}
.about-me__container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.about-me__text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  margin: 50px;
}
.about-me__item {
  margin: 20px;
}
.about-me__intro-and-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  font-family: 'Nunito Sans', sans-serif;
}
.project__image {
  width: 400px;
  height: auto;
}
.contact__svg {
  height: 50px;
  width: 50px;
  margin: 10px;
  transition: all 0.3s;
}
.contact__svg:hover {
  transform: scale(1.1);
  transform: translateY(-5px);
}
a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #1c303b;
}
a:hover {
  color: #1c303b;
}
a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.after:after {
  bottom: -0.25em;
  height: 2px;
  width: 0;
  background: #1c303b;
}
a.first:after {
  left: 0;
}
a.after:hover:after {
  width: 100%;
}
