@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
.row {
  display: flex;
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
.column img {
  vertical-align: middle;
  width: 100%;
  margin: 20px;
  cursor: pointer;
}
.portfolio__container {
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin: 20px;
  cursor: pointer;
}
.portfolio__image {
  display: block;
  width: 100%;
}
.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(245, 182, 97);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.6s ease;
  margin-left: 20px;
}
.portfolio__container:hover .portfolio__overlay {
  width: 100%;
}
.text {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
p {
  margin: 0;
}
.content {
  margin: 0 auto;
  display: block;
  width: 1400px;
}
.header {
  font-family: 'Nunito Sans', sans-serif;
}
.header__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.header__primary {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header__secondary {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.resume {
  font-family: 'Nunito Sans', sans-serif;
}
.resume__title {
  text-transform: uppercase;
}
.resume__span {
  display: flex;
  align-items: center;
}
.resume__span p,
.resume__span a {
  margin: 5px;
}
.resume__span .project-description {
  font-style: italic;
}
.resume__span .project-title {
  font-size: 18px;
  font-weight: 700;
}
.resume__position {
  font-size: 18px;
  font-weight: 700;
}
.resume__location {
  font-style: italic;
}
.resume__institute {
  font-size: 18px;
  font-weight: 700;
}
.about-me__image {
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}
