@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

// COLOR VARIABLES
@pink: rgba(223, 193, 182);
@yellow: rgba(242, 207, 136);
@red: rgba(250, 126, 104);
@orange: rgb(202, 118, 89);
@green: rgb(91, 118, 75);
@blue: rgb(71, 105, 115);
// @orange: rgba(245, 182, 97);
// @blue: rgba(137, 188, 195);


// FONT
@font: 'Nunito Sans', sans-serif;


body {
  margin: 0;
}

.list {

}

.row {
  display: flex;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 10px;

  img {
    vertical-align: middle;
    width: 100%;
    margin: 20px;
    cursor: pointer;
  }
}

.portfolio__container {
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin: 20px;
  cursor: pointer;
}

.portfolio__image {
  display: block;
  width: 100%;
  filter: grayscale(90%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform .5s;


  &:hover {
    filter: none;
    transform: scale(.98);
  }
}

.text {
  display: none;
}

p {
  margin: 0;
}

.content {
  display: block;
  width: 1200px;
}

.homepage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
  margin-top: 15%;


  &__text {
    font-size: 50px;
    font-family: @font;
  }

  &__name {
    color: darken(@orange, 5%);
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: @font;
    background-color: transparent;
    border: 3px solid black;
    padding: 10px;
    cursor: pointer;
    width: 190px;
    transition: all .3s;

    .svg {
      height: 0;
      width: 0;
      transition: all .3s;
    }

    &:hover {
      width: 230px;
      background-color: black;
      color: white;

      .svg {
        height: 20px;
        width: 30px;
        margin-left: 10px;
        fill: white;
      }
    }
  }
}

.header {
  font-family: @font;

  &__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  &__primary {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
  }

  &__secondary {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin: 0;
  }
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  background-color: @blue;

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  li {
    color: white;
  }
}

.resume {
  font-family: @font;
  padding: 50px;


  &__skills {

  }

  &__experience {

  }

  &__projects {

  }

  &__education {

  }

  &__awards {

  }

  &__title {
    text-transform: uppercase;
    color: @orange;
  }

  &__span {
    display: flex;
    align-items: center;

    p, a {
      margin: 5px;
    }

    .project-description {
      font-style: italic;
    }

    .project-title {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__position {
    font-size: 18px;
    font-weight: 700;
  }

  &__company {

  }

  &__date {

  }

  &__location {
    font-style: italic;
  }

  &__institute {
    font-size: 18px;
    font-weight: 700;
  }
}

.portfolio {

  &__image {

  }
}

.about-me {

  &__image {
    max-width: 400px;
    height:auto;
    border-radius: 50%;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
  }

  &__container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-family: @font;
    font-size: 18px;
  }

  &__item {
    margin: 20px;
  }
}

.project {
  font-family: @font;

  &__title {

  }

  &__description {

  }

  &__link-container {

  }

  &__link {

  }

  &__technology {

  }

  &__image-container {

  }

  &__image {
    width: 400px;
    height: auto;
  }
}



// WORKING LESS
// .portfolio__overlay {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: @orange;
//   overflow: hidden;
//   width: 0;
//   height: 100%;
//   transition: .6s ease;
//   margin-left: 20px;
// }
//
// .portfolio__container:hover .portfolio__overlay {
//   width: 100%;
// }
//
// .text {
  // font-family: @font;
  // color: white;
  // font-size: 20px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  // white-space: nowrap;
// }
// @media screen and (max-width: 800px) {
//   .column {
//     -ms-flex: 50%;
//     flex: 50%;
//     max-width: 50%;
//   }
// }
//
// @media screen and (max-width: 600px) {
//   .column {
//     -ms-flex: 100%;
//     flex: 100%;
//     max-width: 100%;
//   }
// }
