@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.list {

}

.header {
  font-family: 'Nunito Sans', sans-serif;

  &__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  &__primary {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__secondary {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}

.resume {
  font-family: 'Nunito Sans', sans-serif;


  &__skills {

  }

  &__experience {

  }

  &__projects {

  }

  &__education {

  }

  &__awards {

  }

  &__title {

  }

  &__span {
    display: flex;
  }

  &__position {

  }

  &__company {

  }

  &__date {

  }

  &__location {

  }

  &__institute {

  }
}

.portfolio {

  &__image {
    height: 240px;
    width: 460px;
  }
}
